@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__next {
    height: 100%;
}

html {
    background: theme('colors.gray.50');
    /* make the scroll to section be a bit lower than the top */
    scroll-padding-top: 40px;
    --max-width: 100%;
}

@media screen(md) {
    html {
        --max-width: 700px;
    }
}

p {
    width: var(--max-width);
}
